*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: black;
}

#header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#left{
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    justify-content: end;
    margin-right: 15px;
    font-size: 28px;
}

#right{
    display: flex;
    flex: 2;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding:0px 220px 0 20px;
    font-weight: 800;
    font-size: 22px;
    gap:30px;
    margin-left: 18px;
}

.head-li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    
}

.head-li>a{
    color: grey;
    text-decoration: none;
}

.head-li a:hover{
    color: rgb(2, 205, 212);
    
}

.head-li a:active{
    color: black;
}

#right-btn{
    width: 170px;
    font-size: 22px;
    background-color: darkolivegreen;
    color: white;
    box-shadow: 4px 4px 3px black;
}

#right-btn:hover{
    background-color: rgb(2, 205, 212);
    transition: 0.5s;
}

#main{
    /* height: 1100px; */
    /* border: 2px solid red; */
    padding: 80px 400px 0px;
    display: flex;
    gap:100px;
    
}

#main-sec-left{
    
    /* border: 4px solid green; */
    display: flex;
    flex:5;
    flex-direction: column;
    gap:55px;
}

#card{
    flex: 6;
    /* height: 420px; */
    /* width: 100%; */
    border: 4px solid grey;
    border-radius: 10px;
    color: white;
    
}

#top-sec{
    height:120px;
    /* border: 2px solid red; */
    background-color:darkolivegreen;
}

#top-sec>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px double rgba(255, 255, 255, 0.87);
    position: relative;
    top: 36px;
    left: 30px;
}

#bot-sec{
    display: flex;
    height: 290px;
    /* border: 2px solid red; */
    padding: 35px 0px 25px 28px;
    flex-direction: column;
    gap: 41px;
    font-size: 24px;
}

#name-loc{
    margin-top: 50px;
    height: 76px;
    /* border: 2px solid red; */
    padding-left: 5px;
    padding-bottom: 5px;
    
}

#name-loc h2{
    /* font-size: 50px; */
    padding-bottom: 10px;
}

#name-loc img, p{
    color:white;
    height: 20px;
    /* font-size: 24px; */
}

#bio{
    /* height: 50px; */
    /* border: 2px solid red; */
    /* flex: 1; */
    margin: 10px 0px;
}

#bot-of-card img{
    height: 24px;
    /* border: 2px solid red; */
    margin-right:10px;
    
}

#bot-of-card a{
    font-size: 19px;
    color: rgb(43,120,228);
}

#edu{
    border: 4px solid grey;
    border-radius: 10px;
    display: flex;
    flex: 5;
    flex-direction: column;
    
    
}

#edu-top{
    flex: 1;
    /* border: 2px solid red; */
    color: black;
    padding: 15px;
    font-size: 23px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#edu-bot{
    padding: 25px;
    flex:10;
    color: white;
    font-size: 26px;
    line-height: 180%;
}

#edu-bot h4 {
    margin-top: 15px;
    text-decoration: underline;
}

#edu-bot p{
    text-indent: 50px;
}

#main-sec-right{
    /* border: 2px solid yellow; */
    flex:3;
    display: flex;
    flex-direction: column;
}

#requests{
    border-radius: 10px;
    height: 360px;
    width: 100%;
    border: 4px solid grey;
    display: flex;
    flex-direction: column;
    
    /* background-color: aqua; */
    /* margin-bottom: 36px; */
}

#req-top{
    flex:1;
    background-color: white;
    border-top-left-radius: 9x;
    border-top-right-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    border: 3px solid grey;
}

#req-top h3{
    font-size: 38px;
    
}

#round-btn{
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

#req-bot{
    flex:3;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    color: white;
    font-size: 29px;
}

#req-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    /* padding:15px;   */
    justify-content: space-around;
    
    
}

#req-list li{
    display: flex;
    align-items: center;
}

#req-list img{
    /* display: flex; */
    height: 98px;
    width: 98px;
    border-radius: 50%;
    margin: 15px 15px 15px 20px;
}

#connects{
    margin-top: 30px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 920px;
    width: 100%;
    border: 3px solid grey;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

#connects-head{
    flex:1;
    border: 3px solid grey;
    /* height: 80px; */
    width: 100%;
    /* background-color: yellow; */
}

#connects-head-top{
    flex:2;
    /* border: 2px solid red; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 95px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 22px;
    border: 3px solid grey;
    
}

#connects-head-top h3{
    font-size: 36px;
    margin-left: 15px;
}

#oval-btn{
    font-size: 30px;
    height: 60px;
    width: 100px;
    border-radius: 70%;
    padding: 10px;
    background-color: black;
    color: white;
}

#connects-head-top img{
    height: 40px;
    margin-right: 12px;
}


#connects-head-bot{
    /* background-color: green; */
    /* height: 500px; */
    color: white;
    display: flex;
    font-size: 30px;
    gap: 30px;
    justify-content: space-between;

}

#connects-bot{
    border: 3px solid grey;
    height: 95px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#connects-bot a{
    font-size: 40px;
    color: white;
}

#connects-list li{
    margin-top: 30px;
    list-style: none;
    display: flex;
}

#connects-list img{
    height: 98px;
    width: 98px;
    border-radius: 50%;
    margin: 10px;
}