*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}



#nav-title{
    display: inline-block;
}

.nav{
    background-color: rgb(70, 66, 66);
    display: flex;
    margin: 10px;
    color:white;
    padding: 15px;
    justify-content: space-between;
    align-items:center;
    
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:400px;
    list-style: none;    
}

li  a{
    text-decoration: none;
    color: gainsboro;
}

.active{
    color: white;
}

.btn{
    box-shadow: 4px 4px 0px black;
    background-color: rgb(80, 196, 196);
    color: white;
    padding: 5px;
    width: 96px;
    font-weight: bold;
    border-width: 4px;
    
}

