body{
    background-color: aquamarine;
}

.row {
    display: flex;
    gap:10px;
    border: 1px solid red;
    padding: 10px 0;
}
.col-1 {
    flex: 1;
    padding: 20px;
    /* margin: 10px; */
    background-color: lightcyan;
    border: 1px solid black;
    /* width: 400px; */
}

.col-2{
    flex: 2;
    padding: 20px;
    /* margin: 10px; */
    background-color: lightcyan;
    border: 1px solid black;
    /* width: 400px; */
}

.col-3{
    flex: 2;
    padding: 20px;
    /* margin: 10px; */
    background-color: lightcyan;
    border: 1px solid black;
    /* width: 400px; */
}