*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0px 100px;
    /* height: 1000px; */
    /* background-color: tomato; */
}

p, em{
    font-size: 20px;
}

#nav-bar{
    display: flex;
    /* border: 3px solid black; */
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    margin-bottom: 30px;
}

h1{
    font-size: 40px;
}

#nav-bar>input{
    width: 290px;
    padding: 8px;
    border: 2px solid black;
}

#nav-bar>button{
    font-size: 20px;
    padding: 5px 20px;
    color: white;
    background-color: blue;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
}

#flex-container{
    /* background-color: beige; */
    /* height: 900px; */
    display: flex;
    gap: 40px;
}

#left-col{
    /* background-color: aquamarine; */
    /* border: 3px solid black; */
    /* height: 600px; */
    flex: 3;
}

#right-col{
    border: 3px solid black; 
    flex: 1;
    padding: 10px;
    text-align: center;
    height: 160px;
}

#right-col>h3{
    font-size: 30px;
    padding:10px;
}

.word-sec{
    /* height: 300px; */
    /* background-color: blueviolet; */
    border: 3px solid black;
    display: flex;
    align-items: center;
    gap: 40px;
    padding:  30px 20px;
    margin-bottom: 20px;
}

#word-sec-left{
    /* border: 3px solid black; */
    /* padding: 25px; */
    text-align: center;
}

#word-sec-left>button{
    background-color: darkgoldenrod;
    padding: 8px 12px;
    margin-top: 20px;
    border: 3px solid  black;
    font-weight: 600;
    box-shadow: 3px 3px 3px black;
    width: 110px;
    font-size: 20px;
}

#right-col>button{
    font-size: 20px;
    background-color: rgb(139, 139, 4);
    padding: 8px;
    width: 220px;
    text-align: center;
    box-shadow: 3px 3px 3px black;
    margin-top: 10px;
}