*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(to bottom, rgb(250, 233, 167), white, white);
    /* height: 100vh; */
    /* display: flex;
    justify-content: center; */
    /* margin-bottom: 110px; */
}

#container{
    height: 100%;
    /* border: 6px solid red; */
    width: 70%;
    margin: 0 auto;
}

#cover-photo{
    height: 550px;
    /* border: 3px solid black; */
    background: url("./pyramids.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 20px black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 28px;
    padding-bottom: 15px;
}

#cover-photo>button{
    padding: 8px;
    font-weight: 800;
    border-radius: 8px;
}

#cover-photo>img{
    height: 150px;
    border-radius: 50%;
    width: 150px;
    border: 6px double white;
    background-color: blue;
    position: relative;/*relative to its current position where do i want to move it*/
    top: 140px; 
    left: 25px;
    /* box-shadow: 3px 3px 3px black; */
}

#info{
    /* height: 300px; */
    border-bottom: 2px solid black;
    padding-left: 180px;
    padding-top: 25px;
    padding-bottom: 10px ;
}

#info>p{
    color: gray;
    font-weight: 600;
    margin-top: 5px;
}

#row{
    /* border-bottom: 1px solid black; */
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:20px;
}

#row-left, #row-right{
    /* height:80px; */
    /* border: 1px solid purple; */
    width: 200px;
}
#row-left>img{
    height:25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
}

#friend2{
    
    right:10px;
}

#friend3{
    right:20px;
}

#friend4{
    right:30px;
}

#friend5{
    right:40px;
}


#add-to-story,#edit-profile{
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#add-to-story{
    background-color: rgb(0, 91, 237);
    color: white;
}

#edit-profile{
    background-color: lightgrey;
}

#nav-bar{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    
}

#nav-links{
    display: flex;
    list-style: none;
    gap:20px;
}

#nav-links a {
    color: grey;
    text-decoration: none;
}

#nav-bar>button{
    padding: 5px 14px;
}

#triangle{
    font-size: 10px;
}

#cookie-box{
    /* border: 3px solid red; */
    height: 100px;
    background-color: grey;
    position: fixed;
    top: 50%;
    width: 100%;
}